header {
    display: flex; 
    justify-content: center;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    margin-right: 20px;
}

.home-img {
    width: 100%;
    height: auto;
}